  
.formContainer {
    background: #fff;
    width: 75%;
    margin: 30px auto;
    padding: 20px;
}

.centerMe {text-align: center;}
.formContainer .largerText {font-size: 1.3em;}
.formContainer .inline {display: inline; margin-right: 10px;}
.formContainer .radio {margin-top: 10px;}
.formContainer .radio:last-of-type {margin-left: 20px;}

form {
    margin-top: 20px;
}

.formContainer form .input {
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    height: 25px;
}

.custom-flex {
    display: flex;
}

.flex-parent {
    justify-content: center;
}